doctype html
html(lang="en")
  head
    include generic.header.pug
  body.homepage
    .app.doc
      include generic.nav.pug
      .grid.center-h
        img(src="img/logo-lg.png")
      .grid.center-h
        h1.center-h Simplicity . lightweight . Pure CSS
        p Flex UI is a neat CSS framework based on CSS3 flexbox model.
      .grid.center-h
        a.btn.primary.lg(href="base.typeface.html") view documentation